{% extends "base.html" %}
{% block content %}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">{{car.make}} {{car.model}} </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area single-property" style="background-color: #FCFCFC;">
    <div class="container">

        <div class="clearfix padding-top-40">
            <div class="col-md-8 single-property-content ">
                <div class="row">
                    <div class="light-slide-item">
                        <div class="clearfix">
                            <div class="favorite-and-print">
                                <!--
                                <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                -->
                                <a class="printer-icon " href="javascript:window.print()">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>

                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                <li data-thumb="assets/img/property-1/property1.jpg">
                                    {% if car.images.startswith('http') %}
                                    <a href="{{ url_for('viewcar', carId=car.id) }}"><img src="{{ car.images }}"></a>
                                    {% else %}
                                    <a href="{{ url_for('viewcar', carId=car.id) }}"><img src="{{ url_for('carpic', carId=car.id) }}"></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single-property-wrapper">
                    <div class="single-property-header">
                        <h1 class="property-title pull-left">{{car.heading}}</h1>
                        <span class="property-price pull-right">£ {{car.price}}</span>
                    </div>

                    <div class="property-meta entry-meta clearfix ">

                        <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-tag">
                                        <img src="{{url_for('static', filename='assets/img/icon/gears-orange.png')}}"
                                             width="25" height="25">
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                        <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                        -->
                                    </span>
                            <span class="property-info-entry">
                                        <span class="property-info-label">Transmission</span>
                                        <span class="property-info-value">{{car.transmission}}</span>
                                    </span>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info icon-area">
                                        <img src="{{url_for('static', filename='assets/img/icon/odometer-orange.png')}}"
                                             width="25" height="25">
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                        <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                        -->
                                    </span>
                            <span class="property-info-entry">
                                        <span class="property-info-label">Mileage</span>
                                        <span class="property-info-value">{{car.mileage}}<b class="property-info-unit"> miles</b></span>
                                    </span>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <img src="{{url_for('static', filename='assets/img/icon/fuel-orange.png')}}"
                                             width="25" height="25">
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                        <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                        -->
                                    </span>
                            <span class="property-info-entry">
                                        <span class="property-info-label">Fuel</span>
                                        <span class="property-info-value">{{car.fuel}}</span>
                                    </span>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bath">
                                        <img src="{{url_for('static', filename='assets/img/icon/year-orange.png')}}"
                                             width="25" height="25">
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                        <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                        -->
                                    </span>
                            <span class="property-info-entry">
                                        <span class="property-info-label">Year</span>
                                        <span class="property-info-value">{{car.year}}</span>
                                    </span>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        <img src="{{url_for('static', filename='assets/img/icon/cars-orange.png')}}"
                                             width="25" height="25">
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                        <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                        -->
                                    </span>
                            <span class="property-info-entry">
                                        <span class="property-info-label">Body type</span>
                                        <span class="property-info-value">{{car.bodyType}}</span>
                                    </span>
                        </div>


                    </div>
                    <!-- .property-meta -->

                    <div class="section">
                        <h4 class="s-property-title">Description</h4>
                        <div class="s-property-content">
                            <p>{{car.description}}</p>
                        </div>
                    </div>
                    <!-- End description area  -->

                    <div class="section additional-details">

                        <h4 class="s-property-title">Additional Details</h4>

                        <ul class="additional-details-list clearfix">
                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Make</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.make}}</span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Model</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.model}}</span>
                            </li>
                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Engine size</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.engineSize}}</span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Tax</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.tax}}</span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Insurance group</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.insuranceGroup}}</span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">City</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.city}}</span>
                            </li>

                            <li>
                                <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Emissions</span>
                                <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{car.emissions}}</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 p0">
                <aside class="sidebar sidebar-property blog-asside-right">
                    <div class="dealer-widget">
                        <div class="dealer-content">
                            <div class="inner-wrapper">

                                <div class="clear">
                                    <div class="col-xs-4 col-sm-4 dealer-face">
                                        <a href="">
                                            <img src="{{url_for('photo', user_id=seller.id)}}" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 ">
                                        <h3 class="dealer-name">
                                            <a href="">{{seller.name}}</a>
                                            <span>{{seller.role}}</span>
                                        </h3>

                                    </div>
                                </div>

                                <div class="clear">
                                    <ul class="dealer-contacts">
                                        <li><i class="pe-7s-map-marker strong"> </i> {{seller.address}}</li>
                                        <li><i class="pe-7s-mail strong"> </i> {{seller.email}}</li>
                                        <li><i class="pe-7s-call strong"> </i> {{seller.phone}}</li>
                                        <li>
                                            <form method="POST" action="{{url_for('carsearch')}}">
                                                <input name="user_id" type="text" value="{{seller.id}}"
                                                       style="display: none;">
                                                <input type="submit" class="form-control"
                                                       value="View {{numCars}} cars listed by this seller">
                                            </form>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Similar Cars</h3>
                        </div>
                        <div class="panel-body recent-property-widget">
                            <ul>
                                {% for car in similarCars %}
                                <li>
                                    <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                        <a href="{{url_for('viewcar', carId = car.id)}}"><img src="{{car.images}}"></a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                        <h6><a href="{{url_for('viewcar', carId = car.id)}}">{{car.heading}}</a></h6>
                                        <span class="property-price">£ {{car.price}}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <!--
                                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Smart search</h3>
                                            </div>
                                            <div class="panel-body search-widget">
                                                <form action="" class=" form-inline">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Key word">
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">

                                                                <select id="lunchBegins" class="selectpicker" data-live-search="true"
                                                                        data-live-search-style="begins" title="Select Your City">

                                                                    <option>New york, CA</option>
                                                                    <option>Paris</option>
                                                                    <option>Casablanca</option>
                                                                    <option>Tokyo</option>
                                                                    <option>Marraekch</option>
                                                                    <option>kyoto , shibua</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">

                                                                <select id="basic" class="selectpicker show-tick form-control">
                                                                    <option> -Status-</option>
                                                                    <option>Rent</option>
                                                                    <option>Boy</option>
                                                                    <option>used</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <label for="price-range">Price range ($):</label>
                                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                                       data-slider-max="600" data-slider-step="5"
                                                                       data-slider-value="[0,450]" id="price-range"><br/>
                                                                <b class="pull-left color">2000$</b>
                                                                <b class="pull-right color">100000$</b>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <label for="property-geo">Property geo (m2) :</label>
                                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                                       data-slider-max="600" data-slider-step="5"
                                                                       data-slider-value="[50,450]" id="property-geo"><br/>
                                                                <b class="pull-left color">40m</b>
                                                                <b class="pull-right color">12000m</b>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <label for="price-range">Min baths :</label>
                                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                                       data-slider-max="600" data-slider-step="5"
                                                                       data-slider-value="[250,450]" id="min-baths"><br/>
                                                                <b class="pull-left color">1</b>
                                                                <b class="pull-right color">120</b>
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <label for="property-geo">Min bed :</label>
                                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                                       data-slider-max="600" data-slider-step="5"
                                                                       data-slider-value="[250,450]" id="min-bed"><br/>
                                                                <b class="pull-left color">1</b>
                                                                <b class="pull-right color">120</b>

                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox" checked> Fire Place</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox"> Dual Sinks</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox" checked> Swimming Pool</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox" checked> 2 Stories </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label><input type="checkbox"> Laundry Room </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox"> Emergency Exit</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox" checked> Jog Path </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox"> 26' Ceilings </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="padding-5">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="checkbox">
                                                                    <label> <input type="checkbox"> Hurricane Shutters </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <input class="button btn largesearch-btn" value="Search" type="submit">
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                    -->

                </aside>
            </div>
        </div>

    </div>
</div>

{% endblock %}
{% block scripts %}

<script>
                            $(document).ready(function () {

                                $('#image-gallery').lightSlider({
                                    gallery: true,
                                    item: 1,
                                    thumbItem: 9,
                                    slideMargin: 0,
                                    speed: 500,
                                    auto: true,
                                    loop: true,
                                    onSliderLoad: function () {
                                        $('#image-gallery').removeClass('cS-hidden');
                                    }
                                });
                            });


</script>
{% endblock %}